@import "../node_modules/ress/dist/ress.min.css"
@import "_pccs"
#header
  background-color: $ltg14
  height: 50px
  width: 100%
  padding: 8px
  color: $W
#main
  margin: 0 auto
  padding: 1em
  color: $Gy40
#footer
  background-color: $Gy80
  width: 100%
  padding: 1em
  text-align: center
  color: $Bk
img
  height 30px
  width: 30px
